# Django Modules
django
django-cleanup
django-compressor
django-debug-toolbar
django-extensions
django-filter
django-ipware
django-model-utils
django-split-settings
django-widget-tweaks

# Other Modules
argon2-cffi
coverage
markdown
pillow
psycopg2
python-coveralls
python-dateutil
python-memcached
pytest
pytz
pyyaml
requests
setuptools
twine
validators
wheel
xlsxwriter

# Temporary Fixes
#-e git+http://github.com/django-compressor/django-compressor.git@a5bfd775450428e1a261b88e1e5424bfb4dde081#egg=django_compressor