{% extends 'asset/layout/layout.html' %}

{% load i18n %}

{% block content %}

    <div class="col-lg-4 ml-auto mr-auto pt-5">
        <form action="{% url 'password_reset' %}" method="post" novalidate>

            {% csrf_token %}

            <div class="card mb-3">
                <div class="card-header">{{ _('Forgot Password') }}</div>

                <div class="card-body">
                    <p class="card-text mb-3">
                        {% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
                    </p>

                    {% include 'form/input.html' with input=form.email is_required=True %}
                </div>

                <div class="card-footer bg-transparent border-0">
                    {% include 'form/submit_password_reset.html' %}
                </div>
            </div>

        </form>
    </div>

{% endblock %}