{% extends 'asset/layout/layout.html' %}

{% block content %}

    <div class="col-lg-4 m-auto p-3">
        <form action="{% url 'login:password' %}" method="post" novalidate>

            {% csrf_token %}

            <div class="card mb-3">
                <div class="card-header">{{ _('Change Password') }}</div>

                <div class="card-body"
                     id="pwd-container">
                    <div class="labelWrapper">
                        <div class="labelHeader">{{ _('Email Address') }}</div>
                        <div>{{ user.email|escape }}</div>
                    </div>

                    {% include 'form/password.html' with password=form.old_password is_required=True %}
                    {% include 'form/password.html' with password=form.new_password1 is_required=True %}
                    {% include 'form/password.html' with password=form.new_password2 is_required=True %}
                </div>

                <div class="card-footer bg-transparent border-0">
                    {% include 'form/submit_update.html' %}
                </div>
            </div>

        </form>
    </div>

{% endblock content %}
