{% extends 'asset/layout/layout.html' %}

{% load i18n %}

{% block content %}

    <div class="col-lg-4 ml-auto mr-auto pt-5">
        {% if validlink %}
            <form method="post" novalidate>

                {% csrf_token %}

                <div class="card mb-3">
                    <div class="card-header">{{ _('Password Reset') }}</div>

                    <div class="card-body">
                        <p class="card-text mb-3">
                            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                        </p>

                        {% include 'form/password.html' with password=form.new_password1 is_required=True %}
                        {% include 'form/password.html' with password=form.new_password2 is_required=True %}
                    </div>

                    <div class="card-footer bg-transparent border-0">
                        {% include 'form/submit_password_change.html' %}
                    </div>
                </div>

            </form>
        {% else %}
            <div class="card mb-3">
                <div class="card-header">{{ _('Password Reset') }}</div>

                <div class="card-body">
                    <p class="card-text">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                    <p class="card-text">
                        <a class="btn btn-outline-secondary" href="{% url 'password_reset' %}" role="button">{% trans 'Request Password Reset' %}</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}