{% load widget_tweaks %}

{% if not request.user.form_display or request.user.form_display == 'expand' %}
    <div class="form-group{% if is_required %} required{% endif %}" id="password_{{ password.name }}">
        {{ password|add_label_class:'font-weight-bold'|cut:":" }}

        {% if password.errors %}
            {% render_field password class="form-control is-invalid" placeholder=password.label %}

            {% for error in password.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
            {% if password.data %}
                {% render_field password class="form-control is-valid" %}
            {% else %}
                {% render_field password class="form-control" placeholder=password.label %}
            {% endif %}
        {% endif %}

        {% if password.help_text and request.user.help_text %}
            <small class="form-text text-muted">{{ password.help_text }}</small>
        {% endif %}
    </div>
{% endif %}

{% if request.user.form_display == 'compact' %}
    <div class="input-group{% if not request.user.help_text or not password.help_text %} mb-3{% endif %}" id="password_{{ password.name }}">
        <div class="input-group-prepend{% if is_required %} required{% endif %}">
            <span class="input-group-text font-weight-bold" id="{{ password.auto_id }}">
                {{ password.label|cut:":" }}
            </span>
        </div>

        {% if password.errors %}
            {% render_field password class="form-control is-invalid" placeholder=password.label %}

            {% for error in password.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
            {% if password.data %}
                {% render_field password class="form-control is-valid" %}
            {% else %}
                {% render_field password class="form-control" placeholder=password.label %}
            {% endif %}
        {% endif %}
    </div>

    {% if password.help_text and request.user.help_text %}
        <small class="form-text text-muted mb-3">{{ password.help_text }}</small>
    {% endif %}
{% endif %}