{% load template_breadcrumb %}

{% load compress %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Schedule{% gwhcp_template_title %}">
    <meta name="author" content="Sammie S. Taunton">

    <title>Schedule{% gwhcp_template_title %}</title>

    <!-- Start Default CSS -->
    {% compress css %}
    <link rel="stylesheet"
          href="{% static 'webpack/vendor-css.css' %}"
          type="text/css">
    {% endcompress %}

    {% compress css %}
    <link rel="stylesheet"
          href="{% static 'asset/css/schedule.css' %}"
          type="text/css">
    {% endcompress %}

    {% compress css %}
    <link rel="stylesheet"
          href="{% static 'asset/css/layout.css' %}"
          type="text/css">
    {% endcompress %}
    <!-- End Default CSS -->

    <!-- Start Secondary CSS -->
    {% block css %}{% endblock %}
    <!-- End Secondary CSS -->
</head>

<body>

<!-- Start Navbar -->
{% include 'asset/layout/nav_top.html' %}
<!-- End Navbar -->

<!-- Start Content Container -->
<div class="container-fluid pt-3">

    <!-- Start Flash Messenger -->
    {% if messages %}
        {% for message in messages %}
        <div class="col-lg-12 alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show d-print-none"
             role="alert">
            <button type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="{{ _('Close') }}">

                <span aria-hidden="true">&times;</span>
            </button>

            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <!-- End Flash Messenger -->

    <!-- Start Content -->{% block content %}{% endblock %}<!-- End Content -->

</div>
<!-- End Content Container -->

<!-- Start Default JS -->
{% compress js %}
<script src="{% static 'webpack/vendor.js' %}"></script>
{% endcompress %}

{% compress js %}
<script src="{% static 'form/js/blockui.js' %}"></script>
{% endcompress %}

{% compress js %}
<script src="{% static 'asset/js/custom.js' %}"></script>
{% endcompress %}
<!-- End Default JS -->

<!-- Start Secondary JS -->
{% block js %}{% endblock %}
<!-- End Secondary JS -->

</body>

</html>