{% extends 'asset/layout.html' %}

{% load compress %}

{% load static %}

{% block js %}
    {% compress js %}
        <script src="{% static 'roster/js/edit.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}

    {% include 'roster/nav.html' with pk=object.pk %}

    <form action="{% url 'roster:edit' object.pk %}" method="post" novalidate>

        {% csrf_token %}

        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-header">{{ _('Schedule') }}</div>

                <div class="card-body">
                    <div class="labelWrapper">
                        <div class="labelHeader">{{ _('Employee') }}</div>
                        <div>{{ object.account|escape }}</div>
                    </div>

                    <div class="labelWrapper">
                        <div class="labelHeader">{{ _('Facility') }}</div>
                        <div>{{ object.account.facility|escape|upper }}</div>
                    </div>

                    <div class="labelWrapper">
                        <div class="labelHeader">{{ _('Total Time') }}</div>
                        <div><span id="total_time"></span></div>
                    </div>

                    <div class="card-text bg-transparent border-0">
                        {% include 'form/submit_update.html' %}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {% include 'form/checkbox.html' with checkbox=form.is_sunday %}
                    {% include 'form/input.html' with input=form.start_time_sunday %}
                    {% include 'form/input.html' with input=form.end_time_sunday %}
                    {% include 'form/checkbox.html' with checkbox=form.has_break_sunday %}

                    <p class="card-text">{{ _('Hours') }}: <span id="total_sunday"></span></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {% include 'form/checkbox.html' with checkbox=form.is_monday %}
                    {% include 'form/input.html' with input=form.start_time_monday %}
                    {% include 'form/input.html' with input=form.end_time_monday %}
                    {% include 'form/checkbox.html' with checkbox=form.has_break_monday %}

                    <p class="card-text">{{ _('Hours') }}: <span id="total_monday"></span></p>
                </div>
            </div>
        </div>

        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    {% include 'form/checkbox.html' with checkbox=form.is_tuesday %}
                    {% include 'form/input.html' with input=form.start_time_tuesday %}
                    {% include 'form/input.html' with input=form.end_time_tuesday %}
                    {% include 'form/checkbox.html' with checkbox=form.has_break_tuesday %}

                    <p class="card-text">{{ _('Hours') }}: <span id="total_tuesday"></span></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {% include 'form/checkbox.html' with checkbox=form.is_wednesday %}
                    {% include 'form/input.html' with input=form.start_time_wednesday %}
                    {% include 'form/input.html' with input=form.end_time_wednesday %}
                    {% include 'form/checkbox.html' with checkbox=form.has_break_wednesday %}

                    <p class="card-text">{{ _('Hours') }}: <span id="total_wednesday"></span></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {% include 'form/checkbox.html' with checkbox=form.is_thursday %}
                    {% include 'form/input.html' with input=form.start_time_thursday %}
                    {% include 'form/input.html' with input=form.end_time_thursday %}
                    {% include 'form/checkbox.html' with checkbox=form.has_break_thursday %}

                    <p class="card-text">{{ _('Hours') }}: <span id="total_thursday"></span></p>
                </div>
            </div>
        </div>

        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    {% include 'form/checkbox.html' with checkbox=form.is_friday %}
                    {% include 'form/input.html' with input=form.start_time_friday %}
                    {% include 'form/input.html' with input=form.end_time_friday %}
                    {% include 'form/checkbox.html' with checkbox=form.has_break_friday %}

                    <p class="card-text">{{ _('Hours') }}: <span id="total_friday"></span></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {% include 'form/checkbox.html' with checkbox=form.is_saturday %}
                    {% include 'form/input.html' with input=form.start_time_saturday %}
                    {% include 'form/input.html' with input=form.end_time_saturday %}
                    {% include 'form/checkbox.html' with checkbox=form.has_break_saturday %}

                    <p class="card-text">{{ _('Hours') }}: <span id="total_saturday"></span></p>
                </div>
            </div>
        </div>

    </form>

{% endblock content %}
