{% extends 'asset/layout.html' %}

{% block content %}

    {% include 'employee/nav.html' %}

    <form action="{% url 'employee:add' %}" method="post" novalidate>

        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card mb-3">
                    <div class="card-header">{{ _('Profile') }}</div>

                    <div class="card-body">
                        {% include 'form/input.html' with input=form.first_name is_required=True %}
                        {% include 'form/input.html' with input=form.last_name is_required=True %}
                        {% include 'form/select.html' with select=form.facility is_required=True %}
                    </div>

                    <div class="card-footer bg-transparent border-0">
                        {% include 'form/submit_create.html' %}
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock content %}
