<ul class="nav nav-tabs mb-2">
    <li class="nav-item">
        <a href="{% url 'employee:search' %}"
           class="nav-link{% if request.resolver_match.url_name == 'search' %} active{% endif %}">
            <i class="fas fa-search"></i> {{ _('Search') }}
        </a>
    </li>

    {% if request.resolver_match.url_name in 'search add' %}
        <li class="nav-item">
            <a href="{% url 'employee:add' %}"
               class="nav-link{% if request.resolver_match.url_name == 'add' %} active{% endif %}">
                <i class="fas fa-plus-circle"></i> {{ _('Create') }}
            </a>
        </li>
    {% endif %}

    {% if request.resolver_match.url_name in 'edit' %}
        <li class="nav-item">
            <a href="{% url 'employee:edit' pk %}"
               class="nav-link{% if request.resolver_match.url_name == 'edit' %} active{% endif %}">
                <i class="fas fa-user-tie"></i> {{ _('Profile') }}
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'roster:edit' pk %}"
               class="nav-link{% if request.resolver_match.url_name == 'schedule' %} active{% endif %}">
                <i class="far fa-calendar-alt"></i> {{ _('Schedule') }}
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'roster:preview-employee' pk %}"
               class="nav-link{% if request.resolver_match.url_name == 'preview-employee' %} active{% endif %}">
                <i class="far fa-eye"></i> {{ _('Preview') }}
            </a>
        </li>
    {% endif %}

    {% if request.resolver_match.url_name in 'search preview-all' %}
        <li class="nav-item">
            <a href="{% url 'roster:download' %}"
               class="nav-link">
                <i class="fas fa-download"></i> {{ _('Download') }}
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'roster:preview-all' %}"
               class="nav-link{% if request.resolver_match.url_name == 'preview-all' %} active{% endif %}">
                <i class="far fa-eye"></i> {{ _('Preview') }}
            </a>
        </li>
    {% endif %}

    {% if request.resolver_match.url_name in 'password' %}
        <li class="nav-item">
            <a href="{% url 'employee:password' %}"
               class="nav-link{% if request.resolver_match.url_name == 'password' %} active{% endif %}">
                <i class="fas fa-user-shield"></i> {{ _('Change Password') }}
            </a>
        </li>
    {% endif %}
</ul>