{% extends 'asset/layout.html' %}

{% load form_dialog %}

{% load compress %}

{% load static %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'asset/css/search.css' %}">
    {% endcompress %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{% static 'asset/js/search.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}

    {% include 'employee/nav.html' %}

    <div class="card mb-3">
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover border-top-0 w-100"
                   id="search">
                <thead>
                <tr>
                    <th>{{ _('Name') }}</th>

                    <th class="no-sort">{{ _('Schedule') }}</th>

                    <th class="no-sort">{{ _('Edit') }}</th>

                    <th class="no-sort">{{ _('Delete') }}</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th>{{ _('Name') }}</th>

                    <th></th>

                    <th></th>

                    <th></th>
                </tr>
                </tfoot>

                <tbody>
                {% for item in object_list %}
                    <tr>
                        <td class="w-79">{{ item|escape }}</td>

                        <td class="action w-7">
                            <a href="{% url 'roster:edit' item.pk %}">
                                <button class="btn btn-success btn-xs"
                                        data-title="{{ _('Schedule') }}">

                                    <i class="far fa-calendar-alt"
                                       aria-hidden="true"></i>
                                </button>
                            </a>
                        </td>

                        <td class="action w-7">
                            <a href="{% url 'employee:edit' item.pk %}">
                                <button class="btn btn-primary btn-xs"
                                        data-title="{{ _('Edit') }}">

                                    <i class="fas fa-pencil-alt"
                                       aria-hidden="true"></i>
                                </button>
                            </a>
                        </td>

                        <td class="action w-7">
                            <button class="btn btn-danger btn-xs btn-delete"
                                    data-title="{{ _('Delete') }}"
                                    data-url="{% url 'employee:delete' item.pk %}"
                                    id="{{ item.pk }}">

                                <i class="fas fa-trash-alt"
                                   aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form action="#" method="post" id="modal_url_delete">
        {% csrf_token %}

        {% form_dialog _('Continuing will remove this Employee.') 'delete' %}
    </form>

{% endblock content %}
